[Unit]
Description=node-app

[Service]
Type=simple
Restart=always
RestartSec=2s
#Environment=PORT=80

# for HW2_WEB
ExecStart=/usr/bin/node /home/AHReccese/hw2_web/back/index.js

[Install]
WantedBy=multi-user.target
